@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@400;500;700;900&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css";
header {
  background-image: url(../img/bg/bg_1st-screen.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
header::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(37, 43, 73, 0.7);
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  padding: 29px 0 29px;
  border-bottom: 1px solid #babbc5;
}
@media (max-width: 992px) {
  .header-wrap {
    padding: 20px 0 20px;
  }
}

.header-logo {
  margin: 0 15px;
  font-size: 1.8rem;
  color: #ffffff;
  text-transform: uppercase;
}
.header-logo::before {
  content: "Active";
  color: #656980;
  line-height: 1.87rem;
  font-weight: 900;
  text-transform: uppercase;
}

.header-navigation {
  width: 550px;
  margin: 0 15px;
}
@media (max-width: 1200px) {
  .header-navigation {
    width: 550px;
  }
}
@media (max-width: 992px) {
  .header-navigation {
    width: 500px;
  }
}
@media (max-width: 762px) {
  .header-navigation {
    width: 50px;
  }
}
.header-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 762px) {
  .header-navigation-list {
    display: none;
  }
}

.header-navigation-list__item {
  padding: 20px 10px;
  border-bottom: 3px solid transparent;
}
.header-navigation-list__item:hover {
  border-bottom: 3px solid #babbc5;
}
.header-navigation-list__item:active {
  border-bottom: 3px solid #e71414;
}

.navigation__item {
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.navigation__item:active {
  color: #e71414;
}

.header-burger {
  border: 1px solid #fff;
  padding: 15px 10px;
  display: none;
  cursor: pointer;
}
@media (max-width: 762px) {
  .header-burger {
    display: block;
  }
}

.header-burger span {
  width: 20px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: auto;
  position: relative;
}

.header-burger span::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 7px;
  left: 0;
}

.header-burger span::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 7px;
  left: 0;
}

.first-screen-wrap {
  padding: 120px 0 120px;
}
@media (max-width: 1200px) {
  .first-screen-wrap {
    padding: 100px 0;
  }
}
@media (max-width: 992px) {
  .first-screen-wrap {
    padding: 80px 0;
  }
}
@media (max-width: 762px) {
  .first-screen-wrap {
    padding: 70px 0;
  }
}
@media (max-width: 468px) {
  .first-screen-wrap {
    padding: 60px 0;
  }
}
@media (max-width: 320px) {
  .first-screen-wrap {
    padding: 50px 0;
  }
}

.first-screen-title {
  width: auto;
  margin: auto;
  text-align: center;
  font-size: 3.5rem;
  line-height: 4rem;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 32px;
}
@media (max-width: 1200px) {
  .first-screen-title {
    font-size: 3.3rem;
    line-height: 3.5rem;
  }
}
@media (max-width: 992px) {
  .first-screen-title {
    font-size: 3rem;
    line-height: 3.2rem;
  }
}
@media (max-width: 762px) {
  .first-screen-title {
    font-size: 2.8rem;
    line-height: 3rem;
  }
}
@media (max-width: 468px) {
  .first-screen-title {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }
}
@media (max-width: 320px) {
  .first-screen-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.first-screen-description {
  width: auto;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: white;
  font-weight: 400;
  margin-bottom: 82px;
}
@media (max-width: 992px) {
  .first-screen-description {
    margin-bottom: 70px;
  }
}
@media (max-width: 762px) {
  .first-screen-description {
    margin-bottom: 60px;
  }
}
@media (max-width: 468px) {
  .first-screen-description {
    margin-bottom: 50px;
  }
}
@media (max-width: 320px) {
  .first-screen-description {
    margin-bottom: 40px;
    font-size: 1.3rem;
    line-height: 1.4rem;
  }
}

.first-screen-btn {
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  width: 330px;
  margin: auto;
  text-align: center;
  padding: 20px 0;
  background-color: #ff4343;
}
.first-screen-btn:hover {
  background-color: #e71414;
}
.first-screen-btn:active {
  -webkit-box-shadow: 4px 4px 30px 0px #ff4343;
          box-shadow: 4px 4px 30px 0px #ff4343;
}
@media (max-width: 762px) {
  .first-screen-btn {
    width: 300px;
  }
}
@media (max-width: 468px) {
  .first-screen-btn {
    width: 270px;
  }
}
@media (max-width: 320px) {
  .first-screen-btn {
    width: 240px;
  }
}

.advantages-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin: 0 -15px;
}
@media (max-width: 992px) {
  .advantages-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.advantages-card {
  width: 30%;
  margin: 0 15px 80px;
}
.advantages-card:nth-child(4) {
  margin-bottom: 0;
}
.advantages-card:nth-child(5) {
  margin-bottom: 0;
}
.advantages-card:nth-child(6) {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .advantages-card {
    width: 40%;
    margin: 0 15px 60px;
  }
  .advantages-card:nth-child(5) {
    display: none;
  }
  .advantages-card:nth-child(6) {
    display: none;
  }
  .advantages-card:nth-child(3) {
    margin-bottom: 0;
  }
}
@media (max-width: 673px) {
  .advantages-card {
    width: 80%;
    margin: 0 15px 50px;
  }
  .advantages-card:nth-child(4) {
    display: none;
  }
}
.advantages-card__image {
  width: 100px;
  height: 100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.advantages-card__image img {
  width: 70px;
  height: 70px;
}
.advantages-card__title {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 900;
  color: #2d3033;
  margin-bottom: 25px;
}
.advantages-card__description p {
  margin: auto;
  text-align: center;
  font-size: 1.12rem;
  line-height: 1.31rem;
  margin-bottom: 0;
}

.portfolio {
  padding: 0;
}

.portfolio-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-item {
  width: 25%;
  position: relative;
}
@media (max-width: 992px) {
  .portfolio-item {
    width: 33.33%;
  }
  .portfolio-item:nth-child(4) {
    display: none;
  }
  .portfolio-item:nth-child(8) {
    display: none;
  }
}
@media (max-width: 700px) {
  .portfolio-item {
    width: 50%;
  }
  .portfolio-item:nth-child(3) {
    display: none;
  }
  .portfolio-item:nth-child(7) {
    display: none;
  }
}
@media (max-width: 460px) {
  .portfolio-item {
    width: 100%;
  }
  .portfolio-item:nth-child(2) {
    display: none;
  }
  .portfolio-item:nth-child(6) {
    display: none;
  }
}

.portfolio__image {
  width: 100%;
  padding: 0 0 100% 0;
  max-height: 350px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.portfolio__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 40% 40%;
     object-position: 40% 40%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.portfolio-item:hover .portfolio__mask {
  opacity: 0.8;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.portfolio-item:hover .portfolio__image img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.portfolio__mask {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 20px;
  background-color: rgba(255, 67, 67, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}

.portfolio__mask__title {
  margin: auto;
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}
@media (max-width: 1200px) {
  .portfolio__mask__title {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 1068px) {
  .portfolio__mask__title {
    font-size: 1.3rem;
    line-height: 1.4rem;
  }
}
@media (max-width: 992px) {
  .portfolio__mask__title {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}
@media (max-width: 460px) {
  .portfolio__mask__title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 50px;
  }
}
@media (max-width: 334px) {
  .portfolio__mask__title {
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 50px;
  }
}

.portfolio__mask__text {
  display: block;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #ffffff;
  text-align: center;
  margin: auto;
}
@media (max-width: 1200px) {
  .portfolio__mask__text {
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
}
@media (max-width: 1068px) {
  .portfolio__mask__text {
    font-size: 1rem;
    line-height: 1.1rem;
  }
}
@media (max-width: 992px) {
  .portfolio__mask__text {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
@media (max-width: 460px) {
  .portfolio__mask__text {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
@media (max-width: 352px) {
  .portfolio__mask__text {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}

.person-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
@media (max-width: 1200px) {
  .person-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.person-card {
  width: 260px;
  margin: 0 15px;
}
@media (max-width: 1200px) {
  .person-card {
    width: 300px;
  }
  .person-card:nth-child(1) {
    margin-bottom: 30px;
  }
  .person-card:nth-child(2) {
    margin-bottom: 30px;
  }
}
@media (max-width: 733px) {
  .person-card {
    width: 260px;
  }
}
@media (max-width: 644px) {
  .person-card {
    width: 300px;
  }
  .person-card:nth-child(4) {
    display: none;
  }
}
@media (max-width: 420px) {
  .person-card {
    width: 260px;
  }
}
@media (max-width: 320px) {
  .person-card {
    width: 240px;
  }
}

.person__image {
  width: 100%;
  height: 175px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.person__image img {
  width: 100%;
}

.person__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: #2d3033;
}
@media (max-width: 644px) {
  .person__title {
    text-align: center;
  }
}

.person__subtitle {
  font-size: 1.12rem;
  color: #ff4343;
  text-transform: uppercase;
  margin-bottom: 17px;
  font-weight: 400;
}
@media (max-width: 644px) {
  .person__subtitle {
    text-align: center;
  }
}

.person__text {
  font-size: 1.12rem;
  color: #6c7279;
  font-weight: 400;
  margin-bottom: 37px;
}
@media (max-width: 644px) {
  .person__text {
    text-align: center;
  }
}

@media (max-width: 644px) {
  .person__social-icons {
    text-align: center;
  }
}

.person__social-icons i {
  width: 39px;
  height: 39px;
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
  color: #c6cbcd;
  border: 1px solid #c6cbcd;
  margin-right: 20px;
}
.person__social-icons i:hover {
  color: #1434c0;
}
@media (max-width: 644px) {
  .person__social-icons i {
    margin: 0 10px;
  }
}

.slider-wrap {
  padding: 0;
}

/* Слайдер */
/* Слайдер запущен */
.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
.slider {
  position: relative;
  padding: 0 0;
}
@media (max-width: 785px) {
  .slider {
    padding: 0 0;
  }
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__item img {
  width: 50%;
}
@media (max-width: 785px) {
  .slider__item img {
    width: 100%;
  }
}

.slider__description {
  background-color: #5c3249;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 110px;
}
@media (max-width: 1200px) {
  .slider__description {
    padding: 0 80px;
  }
}
@media (max-width: 1100px) {
  .slider__description {
    padding: 0 60px;
  }
}
@media (max-width: 1000px) {
  .slider__description {
    padding: 0 50px;
  }
}
@media (max-width: 992px) {
  .slider__description {
    padding: 0 40px;
  }
}
@media (max-width: 785px) {
  .slider__description {
    display: none;
  }
}
.slider__description p {
  font-size: 2.1rem;
  color: #ffffff;
  font-family: "Cardo";
  font-weight: 400;
  text-transform: capitalize;
}
@media (max-width: 1120px) {
  .slider__description p {
    font-size: 1.9rem;
  }
}
@media (max-width: 1020px) {
  .slider__description p {
    font-size: 1.7rem;
  }
}
@media (max-width: 992px) {
  .slider__description p {
    font-size: 1.5rem;
  }
}
.slider__description span {
  display: block;
  font-size: 0.81rem;
  color: #ffffff;
  margin-top: 15px;
  font-family: "Raleway";
  font-weight: 700;
  text-transform: uppercase;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  border: 0;
}
@media (max-width: 785px) {
  .slider .slick-arrow {
    display: none;
  }
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/arrows/chevron-left-solid.svg") 0 0/100% no-repeat;
}
@media (max-width: 785px) {
  .slider .slick-arrow.slick-prev {
    display: none;
  }
}

.slick-arrow.slick-next {
  right: 0;
  background: url("../img/arrows/chevron-right-solid.svg") 0 0/100% no-repeat;
}
@media (max-width: 785px) {
  .slick-arrow.slick-next {
    display: none;
  }
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slick-dots li {
  margin: 0 10px;
}

.slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #5c3249;
}

.slider .slick-dots li.slick-active button {
  background-color: #5c3249;
}

.ready-title {
  width: 70%;
  margin: auto;
  font-size: 1.88rem;
  color: #080808;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.ready-description {
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}

.ready-description p {
  font-size: 1.12rem;
  color: #080808;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
}

.ready-button {
  margin: auto;
  width: 330px;
  padding: 20px 0;
  background-color: #ff4343;
  text-align: center;
  cursor: pointer;
}
.ready-button:hover {
  background-color: #e71414;
}
.ready-button:active {
  background-color: #ff4343;
  -webkit-box-shadow: 4px 4px 30px 0px #ff4343;
          box-shadow: 4px 4px 30px 0px #ff4343;
}
@media (max-width: 762px) {
  .ready-button {
    width: 300px;
    padding: 15px 0;
  }
}
@media (max-width: 598px) {
  .ready-button {
    width: 280px;
    padding: 15px 0;
  }
}
@media (max-width: 468px) {
  .ready-button {
    width: 260px;
    padding: 15px 0;
  }
}
@media (max-width: 422px) {
  .ready-button {
    width: 240px;
    padding: 15px 0;
  }
}
@media (max-width: 350px) {
  .ready-button {
    width: 230px;
    padding: 15px 0;
  }
}

.ready-button-download {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 900;
}
@media (max-width: 762px) {
  .ready-button-download {
    font-size: 1.3rem;
  }
}
@media (max-width: 598px) {
  .ready-button-download {
    font-size: 1.2rem;
  }
}
@media (max-width: 422px) {
  .ready-button-download {
    font-size: 1.1rem;
  }
}
@media (max-width: 350px) {
  .ready-button-download {
    font-size: 1rem;
  }
}

.upper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #353c65;
  padding: 71px 0;
}
@media (max-width: 992px) {
  .upper-footer {
    padding: 60px 0;
  }
}
@media (max-width: 763px) {
  .upper-footer {
    padding: 55px 0;
  }
}
@media (max-width: 506px) {
  .upper-footer {
    padding: 50px 0;
  }
}
@media (max-width: 468px) {
  .upper-footer {
    padding: 40px 0;
  }
}

.upper-footer__item {
  width: 24.5033112583%;
}
@media (max-width: 763px) {
  .upper-footer__item {
    width: 250px;
  }
  .upper-footer__item:last-child {
    display: none;
  }
}
@media (max-width: 506px) {
  .upper-footer__item {
    width: 200px;
  }
}
@media (max-width: 435px) {
  .upper-footer__item:nth-child(1) {
    display: none;
  }
}

.upper-footer__title {
  font-size: 1.12rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.upper-footer__description p {
  text-align: center;
  color: #ffffff;
  font-size: 1.12rem;
  font-weight: 400;
}

.upper-footer__social-icons {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.upper-footer__social-icons a {
  color: #ffffff;
}
.upper-footer__social-icons a:hover {
  color: #1434c0;
}

.upper-footer__social-icons i {
  margin: 0 15px;
  width: 39px;
  height: 39px;
  border: 1px solid #ffffff;
  padding-top: 6px;
}

.lower-footer {
  padding: 24px 0;
  background-color: #2c3154;
}

.lower-footer__text {
  width: 30%;
  margin: auto;
}
@media (max-width: 1201px) {
  .lower-footer__text {
    width: 40%;
  }
}
@media (max-width: 901px) {
  .lower-footer__text {
    width: 50%;
  }
}
@media (max-width: 722px) {
  .lower-footer__text {
    width: 60%;
  }
}
@media (max-width: 613px) {
  .lower-footer__text {
    width: 70%;
    padding: 15px 0;
  }
}
@media (max-width: 516px) {
  .lower-footer__text {
    width: 90%;
  }
}

.lower-footer__text p {
  text-align: center;
  font-size: 1.12rem;
  line-height: 1.31rem;
  text-transform: capitalize;
  color: #656980;
}

.lower-footer__text p span {
  color: #ffffff;
}

html {
  font-family: "Raleway", "Cardo", serif;
}
@media (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 762px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 468px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 762px) {
  .container {
    max-width: 90%;
  }
}
@media (max-width: 468px) {
  .container {
    max-width: 90%;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 100%;
  }
}

section {
  padding: 114px 0;
  background-color: #e5e5e5;
}
@media (max-width: 1200px) {
  section {
    padding: 100px 0;
  }
}
@media (max-width: 992px) {
  section {
    padding: 80px 0;
  }
}
@media (max-width: 762px) {
  section {
    padding: 70px 0;
  }
}
@media (max-width: 468px) {
  section {
    padding: 55px 0;
  }
}
@media (max-width: 320px) {
  section {
    padding: 50px 0;
  }
}