.upper-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: $bg-light-blue;
  padding: 71px 0;

  @media (max-width: 992px) {
    padding: 60px 0;
  }
  @media (max-width: 763px) {
    padding: 55px 0;
  }
  @media (max-width: 506px) {
    padding: 50px 0;
  }
  @media (max-width: 468px) {
    padding: 40px 0;
  }
}
.upper-footer__item {
  width: 370px / 1510px * 100%;
  @media (max-width: 763px) {
    &:last-child {
      display: none;
    }
    width: 250px;
  }
  @media (max-width: 506px) {
    width: 200px;
  }
  @media (max-width: 435px) {
    &:nth-child(1) {
      display: none;
    }
  }
}
.upper-footer__title {
  font-size: 1.12rem;
  font-weight: 700;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.upper-footer__description {
}
.upper-footer__description p {
  text-align: center;
  color: $white;
  font-size: 1.12rem;
  font-weight: 400;
}
.upper-footer__social-icons {
  text-align: center;
  font-size: 24px;
  color: $white;
  display: flex;
  justify-content: space-around;
}
.upper-footer__social-icons a {
  color: $white;
  &:hover {
    color: $social-icons;
  }
}
.upper-footer__social-icons i {
  margin: 0 15px;
  width: 39px;
  height: 39px;
  border: 1px solid $white;
  padding-top: 6px;
}

.lower-footer {
  padding: 24px 0;
  background-color: $bg-dark-blue;
}
.lower-footer__text {
  width: 30%;
  margin: auto;
  @media (max-width: 1201px) {
    width: 40%;
  }
  @media (max-width: 901px) {
    width: 50%;
  }
  @media (max-width: 722px) {
    width: 60%;
  }
  @media (max-width: 613px) {
    width: 70%;
    padding: 15px 0;
  }
  @media (max-width: 516px) {
    width: 90%;
  }
}
.lower-footer__text p {
  text-align: center;
  font-size: 1.12rem;
  line-height: 1.31rem;
  text-transform: capitalize;
  color: $active-grey;
}
.lower-footer__text p span {
  color: $white;
}
