$red: #ff4343;
$white: #ffffff;
$dark-grey: #2d3033;
$light-grey: #6c7279;
$black: rgb(8, 8, 8);
$active-grey: #656980;
$bg-light-blue: #353c65;
$bg-dark-blue: #2c3154;
$bg-header: #252b49;
$bg-everywhere: #e5e5e5;
$border-header: #babbc5;
$slider-odd: #5c3249;
$slider-even: #745968;
$person-icons: #c6cbcd;
$red-header: #e71414;
$social-icons: rgb(20, 52, 192);
